@import "settings";

.trip-index-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.trip-index {
  align-items: center;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.trip-logo-header {
  margin-bottom: 0;
  color: $teal400;
  font-size: 3em;
}

.trip-logo-subheader {
  margin-top: 0;
  color: $red;
  font-size: 1em;
}

.trip-logo,
.trip-start {
  flex: 0 0 50%;
}

.trip-logo {
  text-align: center;
}

.trip-start {
  border-left: 1px solid lightgray;
  padding: 15px 0;
}

.trip-button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  margin: 15px 10px 15px 50px;
  outline: none;
  width: 250px;
}

.trip-button-copy {
  font-size: 2em;
  margin-right: 10px;
}

.create-trip-input,
.join-trip-input {
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  margin: 15px 10px 15px 50px;
  outline: none;
  padding: 15px 50px 15px 25px;
  width: 200px;
}