.currently-here-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
}

.currently-here-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
  background: rgba(0,0,0,.54);
  padding: 2px 4px;
}

.currently-here-transition-enter {
  opacity: 0.01;
}

.currently-here-transition-enter.currently-here-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.currently-here-transition-leave {
  opacity: 1;
}

.currently-here-transition-leave.currently-here-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.blinking {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

.author-avatar {
  margin-left: 2px;
  margin-right: 2px;
}